@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-bg-nav: #f5f5f5;
  --color-text: #000000;
  --color-text-placeholder: #cfcfcf;
  --color-primary: #00c3d0;
  --color-tab-selected: #2eb2bb;
}

.dark {
  --color-bg: #141414;
  --color-bg-nav: #1d1d1d;
  --color-text: #e3e3e3;
  --color-text-placeholder: #484848;
  --color-primary: #007a82;
  --color-tab-selected: #316064;
}

input,
textarea,
select {
  outline: none !important;
}

input,
input::placeholder,
select,
button {
  font-family: "StackSansText_400Regular", system-ui, sans-serif;
}
