@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #00c3d0;
  --color-primary-action: #11acb6;
  --color-tab-selected: #d0a9f5;
}

.dark {
  --color-bg: #141414;
  --color-text: #e3e3e3;
  --color-primary: #007a82;
  --color-primary-action: #00a3ae;
  --color-tab: #7c7c7d;
  --color-tab-selected: #135559;
}
